@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Chatbot Widget Styles */
.chat-widget {
  z-index: 1000;
}

.chat-avatar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.rotate-in {
  animation: rotateIn 0.3s ease;
}

.rotate-out {
  animation: rotateOut 0.3s ease;
}

@keyframes rotateIn {
  0% {
    transform: rotate(270deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotateOut {
  0% {
    transform: rotate(270deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.start-conversation {
  margin: -35px 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
}

.messageContainer {
  position: fixed;
  /* top: 0; */
  right: 3px;
  bottom: 98px;
}

.card {
  overflow: hidden;
}

.card-body {
  padding: 8px 0;
}

:focus-visible {
  outline: none !important;
}

.message-input {
  display: flex;
  border-top: 1px solid #ccc;
}

input[type='text'] {
  width: 100%;
  height: 45px;
  padding: 0 0 0 20px;
  color: #000;
}
label {
  color: #000;
  font-size: 12px;
}
button {
  padding: 0 20px 0 0;
}

/* Custom Scrollbar CSS */
.messages-container {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #acacac #ffffff;
}

.messages-container::-webkit-scrollbar {
  width: 5px;
}

.messages-container::-webkit-scrollbar-track {
  background: #ffffff;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: #ff5733;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.order-1 time.chat-time.text-xs.text-gray-500.ml-2 {
  float: right;
}


/* WidgetContainer.css */

.chatbot-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  width: 300px;
}

.chat-toggle-btn {
  background-color: #f08c00;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.chatbot-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-header {
  background-color: #f08c00;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-close-btn {
  background: none;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.chat-body {
  padding: 10px;
  height: 300px;
  overflow-y: auto;
}

.chat-messages {
  margin-bottom: 10px;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.chat-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #000;
}

.send-btn {
  background-color: #f08c00;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}